<div class="col-xs-12 col-sm-6 col-lg-4 pt-2 filtr-item"
  data-category='all, {{ with .categories }}{{ delimit . ","}}{{ end }}'
>
  <a class="text-decoration-none" {{ if .url }}href="{{ .url }}" title="{{ .name }}" target="_blank" rel="noopener"{{ end }}>
    <div class="card">
      <div class="card-head d-flex">
          <h5 class="card-title">{{ .name }}</h5>
      </div>
      <div class="card-body text-justify pt-1 pb-1">
        <p class="card-text">{{ .summary | markdownify }}</p>
      </div>
    </div>
  </a>
</div>
